Repository xhayper/COTL_API, changes with the labels that .github/labeler.yml gives for each.
All labels: API, CI

.github/labeler.yml:

API:
  - changed-files:
      - any-glob-to-any-file:
          - COTL_API/**/*
CI:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**/*
          - .github/labeler.yml

removed: qodana
  .github/workflows/qodana_code_quality.yml
  README.md
Labels: CI

removed: qodana
  .github/workflows/qodana_code_quality.yml
  README.md
Labels: CI

removed: qodana
  qodana.yaml
Labels: none

removed: qodana
  qodana.yaml
Labels: none

fix: skin not working
  COTL_API/CustomSkins/CustomPlayerSkin.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/CustomSkins/OverridingPlayerSkin.cs
  COTL_API/CustomSkins/SkinUtils.cs
  COTL_API/Plugin.cs
Labels: API

fix: skin not working
  COTL_API/CustomSkins/CustomPlayerSkin.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/CustomSkins/OverridingPlayerSkin.cs
  COTL_API/CustomSkins/SkinUtils.cs
  COTL_API/Plugin.cs
Labels: API

chore: simplify if statement
  COTL_API/CustomSkins/CustomSkinPatches.cs
Labels: API

chore: simplify if statement
  COTL_API/CustomSkins/CustomSkinPatches.cs
Labels: API

chore: simplify if statement
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/Plugin.cs
Labels: API

chore: simplify if statement
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/Plugin.cs
Labels: API

fix: skin again
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/Plugin.cs
Labels: API

fix: skin again
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/Plugin.cs
Labels: API

fix: skin bug
  COTL_API/Plugin.cs
Labels: API

fix: skin bug
  COTL_API/Plugin.cs
Labels: API

feat: reset skin correctly
  COTL_API/Plugin.cs
Labels: API

feat: reset skin correctly
  COTL_API/Plugin.cs
Labels: API

fix: a bug when trying to find custom skin
  COTL_API/CustomSkins/CustomSkinPatches.cs
Labels: API

fix: a bug when trying to find custom skin
  COTL_API/CustomSkins/CustomSkinPatches.cs
Labels: API

chore: refactor codebase
  COTL_API/CustomSkins/CustomSkinPatches.cs
Labels: API

chore: refactor codebase
  COTL_API/CustomSkins/CustomSkinPatches.cs
Labels: API

feat: bump ver
  COTL_API.Common.props
  thunderstore.toml
Labels: none

feat: bump ver
  COTL_API.Common.props
  thunderstore.toml
Labels: none

fix: bed placement bug, clone it instead
  COTL_API/Prefabs/CustomPrefabManager.cs
Labels: API

fix: bed placement bug, clone it instead
  COTL_API/Prefabs/CustomPrefabManager.cs
Labels: API

reverted: bed bug bug fix
  COTL_API/Prefabs/CustomPrefabManager.cs
Labels: API

reverted: bed bug bug fix
  COTL_API/Prefabs/CustomPrefabManager.cs
Labels: API

Update CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: API

Update CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: API

feat: CustomMeal Item addition
  COTL_API/COTL_API.csproj
  COTL_API/CustomInventory/CustomMeal.cs
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
Labels: API

feat: CustomMeal Item addition
  COTL_API/COTL_API.csproj
  COTL_API/CustomInventory/CustomMeal.cs
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
Labels: API

feat: CustomMealEffect
  COTL_API/CustomInventory/CustomMealEffectManager.cs
  COTL_API/CustomInventory/Patches/CustomMealEffectPatches.cs
Labels: API

feat: CustomMealEffect
  COTL_API/CustomInventory/CustomMealEffectManager.cs
  COTL_API/CustomInventory/Patches/CustomMealEffectPatches.cs
Labels: API

fix: Custom Meals now (kinda) working
  COTL_API/CustomInventory/Patches/CustomMealEffectPatches.cs
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
Labels: API

fix: Custom Meals now (kinda) working
  COTL_API/CustomInventory/Patches/CustomMealEffectPatches.cs
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
Labels: API

cleanup: remove debug logging
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
Labels: API

cleanup: remove debug logging
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
Labels: API

feat: customMealEffect(?)
  COTL_API/CustomInventory/Patches/CustomMealEffectPatches.cs
Labels: API

feat: customMealEffect(?)
  COTL_API/CustomInventory/Patches/CustomMealEffectPatches.cs
Labels: API

rewrite custom meals
  COTL_API/CustomInventory/CustomItemManager.cs
  COTL_API/CustomInventory/CustomMeal.cs
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
  COTL_API/CustomStructures/CustomStructureManager.cs
Labels: API

rewrite custom meals
  COTL_API/CustomInventory/CustomItemManager.cs
  COTL_API/CustomInventory/CustomMeal.cs
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/CustomMealPatches.cs
  COTL_API/CustomStructures/CustomStructureManager.cs
Labels: API
