Repository xhayper/COTL_API, changes with the labels that .github/labeler.yml gives for each.
All labels: API, CI

feat: fix favicon
  public/favicon.ico
  public/favicon.svg
  src/components/HeadCommon.astro
Labels: none

feat: fix favicon
  public/favicon.ico
  public/favicon.svg
  src/components/HeadCommon.astro
Labels: none

chore: dependencies update
  package.json
  yarn.lock
Labels: none

chore: dependencies update
  package.json
  yarn.lock
Labels: none

TaskUtils structure fix
  COTL_API/CustomStructures/CustomStructureManager.cs
  COTL_API/Helpers/TaskUtils.cs
Labels: API

TaskUtils structure fix
  COTL_API/CustomStructures/CustomStructureManager.cs
  COTL_API/Helpers/TaskUtils.cs
Labels: API

feat: migrate to pnpm
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: none

feat: migrate to pnpm
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: none

ci: fix
  .github/workflows/build.yml
Labels: CI

ci: fix
  .github/workflows/build.yml
Labels: CI

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: none

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: none

fix: build error
  package.json
  pnpm-lock.yaml
Labels: none

fix: build error
  package.json
  pnpm-lock.yaml
Labels: none

feat: update license
  LICENSE
Labels: none

feat: update license
  LICENSE
Labels: none

feat: update license
  LICENSE
Labels: none

feat: update license
  LICENSE
Labels: none

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: none

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: none

feat: update to astro 2 beta
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/Footer/AvatarList.astro
  src/components/Footer/Footer.astro
  src/components/HeadCommon.astro
  src/components/HeadSEO.astro
  src/components/Header/Header.astro
  src/components/Header/Logo.astro
  src/components/Header/Search.tsx
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/PageContent/PageContent.astro
  src/components/RightSidebar/MoreMenu.astro
  src/components/RightSidebar/RightSidebar.astro
  src/consts.ts
  src/content/config.ts
  src/content/docs/follower-commands.md
  src/content/docs/getting-started.md
  src/content/docs/introduction.md
  src/content/docs/items.md
  src/content/docs/localization.md
  src/content/docs/missions.md
  src/content/docs/objectives.md
  src/content/docs/rituals.md
  src/content/docs/save-data.md
  src/content/docs/settings.md
  src/content/docs/skins.md
  src/content/docs/sound.md
  src/content/docs/structures.md
  src/content/docs/tarot-cards.md
  src/content/docs/tasks.md
  src/content/docs/ui.md
  src/env.d.ts
  src/layouts/MainLayout.astro
  src/pages/[...slug].astro
  src/pages/index.astro
  src/pages/rituals.md
  tsconfig.json
Labels: none

feat: update to astro 2 beta
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/Footer/AvatarList.astro
  src/components/Footer/Footer.astro
  src/components/HeadCommon.astro
  src/components/HeadSEO.astro
  src/components/Header/Header.astro
  src/components/Header/Logo.astro
  src/components/Header/Search.tsx
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/PageContent/PageContent.astro
  src/components/RightSidebar/MoreMenu.astro
  src/components/RightSidebar/RightSidebar.astro
  src/consts.ts
  src/content/config.ts
  src/content/docs/follower-commands.md
  src/content/docs/getting-started.md
  src/content/docs/introduction.md
  src/content/docs/items.md
  src/content/docs/localization.md
  src/content/docs/missions.md
  src/content/docs/objectives.md
  src/content/docs/rituals.md
  src/content/docs/save-data.md
  src/content/docs/settings.md
  src/content/docs/skins.md
  src/content/docs/sound.md
  src/content/docs/structures.md
  src/content/docs/tarot-cards.md
  src/content/docs/tasks.md
  src/content/docs/ui.md
  src/env.d.ts
  src/layouts/MainLayout.astro
  src/pages/[...slug].astro
  src/pages/index.astro
  src/pages/rituals.md
  tsconfig.json
Labels: none

feat: remove unneeded line
  src/pages/index.astro
Labels: none

feat: remove unneeded line
  src/pages/index.astro
Labels: none

fix: build error
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/HeadSEO.astro
  src/pages/index.astro
Labels: none

fix: build error
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/HeadSEO.astro
  src/pages/index.astro
Labels: none

feat: update to latest COTL
  COTL_API/COTL_API.csproj
Labels: API

feat: update to latest COTL
  COTL_API/COTL_API.csproj
Labels: API

fixme: please
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: API

fixme: please
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: API

feat: support dropdown settings element
  COTL_API/CustomSettings/CustomSettingsManager.cs
  COTL_API/CustomSettings/Elements/SettingComponents.cs
  COTL_API/Plugin.cs
  COTL_API/UI/Helpers/SettingsUtils.cs
  COTL_API/UI/UIManager.cs
Labels: API

feat: support dropdown settings element
  COTL_API/CustomSettings/CustomSettingsManager.cs
  COTL_API/CustomSettings/Elements/SettingComponents.cs
  COTL_API/Plugin.cs
  COTL_API/UI/Helpers/SettingsUtils.cs
  COTL_API/UI/UIManager.cs
Labels: API

feat: add dropdown
  src/content/docs/settings.md
Labels: none

feat: add dropdown
  src/content/docs/settings.md
Labels: none

docs: newline
  src/content/docs/settings.md
Labels: none

docs: newline
  src/content/docs/settings.md
Labels: none

fix: edit on github
  src/consts.ts
  src/layouts/MainLayout.astro
Labels: none

fix: edit on github
  src/consts.ts
  src/layouts/MainLayout.astro
Labels: none

feat: dependencies update
  package.json
  pnpm-lock.yaml
  src/layouts/MainLayout.astro
Labels: none

feat: dependencies update
  package.json
  pnpm-lock.yaml
  src/layouts/MainLayout.astro
Labels: none

.github/labeler.yml:

API:
    - COTL_API/**/*
CI:
    - .github/workflows/**/*
    - .github/labeler.yml
