Repository xhayper/COTL_API, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI

feat: use debug configuration for CI
  .github/workflows/build.yml
Labels: CI

feat: use debug configuration for CI
  .github/workflows/build.yml
Labels: CI

feat: add default override for customfollowercommand
  .github/workflows/build.yml
  COTL_API/CustomFollowerCommand/CustomFollowerCommand.cs
  COTL_API/CustomFollowerCommand/CustomFollowerCommandPatches.cs
Labels: CI

feat: add default override for customfollowercommand
  .github/workflows/build.yml
  COTL_API/CustomFollowerCommand/CustomFollowerCommand.cs
  COTL_API/CustomFollowerCommand/CustomFollowerCommandPatches.cs
Labels: CI

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

Fix for missing skins
  COTL_API/Plugin.cs
Labels: none

Fix for missing skins
  COTL_API/Plugin.cs
Labels: none

feat: skin stuff
  COTL_API/Plugin.cs
Labels: none

feat: skin stuff
  COTL_API/Plugin.cs
Labels: none

feat: more skin stuff
  COTL_API/Plugin.cs
Labels: none

feat: more skin stuff
  COTL_API/Plugin.cs
Labels: none

chore: code style
  COTL_API/CustomSkins/SkinPatches.cs
Labels: none

chore: code style
  COTL_API/CustomSkins/SkinPatches.cs
Labels: none

feat: version bump
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: version bump
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: add github to readme
  README.md
Labels: documentation

feat: add github to readme
  README.md
Labels: documentation

feat: bump COTL version
  COTL_API/COTL_API.csproj
Labels: none

feat: bump COTL version
  COTL_API/COTL_API.csproj
Labels: none

feat: properly implement player skin + skin slot update
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/Plugin.cs
Labels: none

feat: properly implement player skin + skin slot update
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/Plugin.cs
Labels: none

chore: too much space
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

chore: too much space
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

Refactor TextureHelper.cs to use TryGetValue for cache lookups.
  COTL_API/Helpers/TextureHelper.cs
Labels: none

Refactor TextureHelper.cs to use TryGetValue for cache lookups.
  COTL_API/Helpers/TextureHelper.cs
Labels: none

Add logging for failed skin and unlocked skin addition.
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

Add logging for failed skin and unlocked skin addition.
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

revert: player skin slot update
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

revert: player skin slot update
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

feat: fix slider settings and add debug settings element
  COTL_API/Plugin.cs
  COTL_API/UI/UIManager.cs
Labels: none

feat: fix slider settings and add debug settings element
  COTL_API/Plugin.cs
  COTL_API/UI/UIManager.cs
Labels: none

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: initial custom relic support
  COTL_API/COTL_API.csproj
  COTL_API/CustomRelics/CustomRelicData.cs
  COTL_API/CustomRelics/CustomRelicManager.cs
  COTL_API/CustomRelics/CustomRelicPatches.cs
Labels: none

feat: initial custom relic support
  COTL_API/COTL_API.csproj
  COTL_API/CustomRelics/CustomRelicData.cs
  COTL_API/CustomRelics/CustomRelicManager.cs
  COTL_API/CustomRelics/CustomRelicPatches.cs
Labels: none

feat: file name convention
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/CustomTarotCard/CustomTarotCardPatches.cs
Labels: none

feat: file name convention
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/CustomTarotCard/CustomTarotCardPatches.cs
Labels: none

feat: accidently hide inherited property
  COTL_API/CustomRelics/CustomRelicData.cs
Labels: none

feat: accidently hide inherited property
  COTL_API/CustomRelics/CustomRelicData.cs
Labels: none

.github/labeler.yml:

documentation:
    - "*"
CI:
    - .github/workflows/**/*
    - .github/labeler.yml
