Repository xhayper/COTL_API, changes with the labels that .github/labeler.yml gives for each.
All labels: API, CI

.github/labeler.yml:

API:
  - changed-files:
      - any-glob-to-any-file:
          - COTL_API/**/*
CI:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**/*
          - .github/labeler.yml

feat: disable achievement unlocking by default
  COTL_API/COTL_API.csproj
  COTL_API/Patches/AchievementsWrapperPatches.cs
  COTL_API/Plugin.cs
  lib/UnifyLibrary.dll
Labels: API

feat: disable achievement unlocking by default
  COTL_API/COTL_API.csproj
  COTL_API/Patches/AchievementsWrapperPatches.cs
  COTL_API/Plugin.cs
  lib/UnifyLibrary.dll
Labels: API

feat: improve achievementwrapper patches
  COTL_API/Patches/AchievementsWrapperPatches.cs
Labels: API

feat: improve achievementwrapper patches
  COTL_API/Patches/AchievementsWrapperPatches.cs
Labels: API

chore: code cleanup
  COTL_API/Patches/AchievementsWrapperPatches.cs
Labels: API

chore: code cleanup
  COTL_API/Patches/AchievementsWrapperPatches.cs
Labels: API

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: none

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: none

feat: update website url
  thunderstore.toml
Labels: none

feat: update website url
  thunderstore.toml
Labels: none

fix: error
  COTL_API.Common.props
  COTL_API/Plugin.cs
  thunderstore.toml
Labels: API

fix: error
  COTL_API.Common.props
  COTL_API/Plugin.cs
  thunderstore.toml
Labels: API

chore: code cleanup
  COTL_API/COTL_API.csproj
  COTL_API/CustomSkins/SkinUtils.cs
  COTL_API/Patches/AchievementsWrapperPatches.cs
  COTL_API/Plugin.cs
  COTL_API/Prefabs/CustomPrefabManager.cs
Labels: API

chore: code cleanup
  COTL_API/COTL_API.csproj
  COTL_API/CustomSkins/SkinUtils.cs
  COTL_API/Patches/AchievementsWrapperPatches.cs
  COTL_API/Plugin.cs
  COTL_API/Prefabs/CustomPrefabManager.cs
Labels: API

fix: mating tent being deleted
  COTL_API.Common.props
  COTL_API/Patches/ModdedStructuresPatches.cs
  thunderstore.toml
Labels: API

fix: mating tent being deleted
  COTL_API.Common.props
  COTL_API/Patches/ModdedStructuresPatches.cs
  thunderstore.toml
Labels: API

chore: code cleanup and optimize AchievementPatches
  COTL_API.Common.props
  COTL_API/CustomMission/CustomMissionPatches.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/Globals.cs
  COTL_API/Patches/AchievementsWrapperPatches.cs
  COTL_API/Patches/ModdedStructuresPatches.cs
  COTL_API/Plugin.cs
  COTL_API/UI/UIManager.cs
Labels: API

chore: code cleanup and optimize AchievementPatches
  COTL_API.Common.props
  COTL_API/CustomMission/CustomMissionPatches.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/Globals.cs
  COTL_API/Patches/AchievementsWrapperPatches.cs
  COTL_API/Patches/ModdedStructuresPatches.cs
  COTL_API/Plugin.cs
  COTL_API/UI/UIManager.cs
Labels: API

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: none

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: none

chore: code cleanup
  COTL_API/CustomObjectives/CustomObjectivePatches.cs
  COTL_API/Patches/AchievementsWrapperPatches.cs
Labels: API

chore: code cleanup
  COTL_API/CustomObjectives/CustomObjectivePatches.cs
  COTL_API/Patches/AchievementsWrapperPatches.cs
Labels: API

Update CustomFollowerSkin.cs
  COTL_API/CustomSkins/CustomFollowerSkin.cs
Labels: API

Update CustomFollowerSkin.cs
  COTL_API/CustomSkins/CustomFollowerSkin.cs
Labels: API

Update CustomSkinManager.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: API

Update CustomSkinManager.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: API

Update DebugFollowerSkin.cs
  COTL_API/Debug/DebugFollowerSkin.cs
Labels: API

Update DebugFollowerSkin.cs
  COTL_API/Debug/DebugFollowerSkin.cs
Labels: API

ci: use qodana instead
  .github/workflows/qodana_code_quality.yml
  .github/workflows/sonar.yml
  qodana.yaml
Labels: CI

ci: use qodana instead
  .github/workflows/qodana_code_quality.yml
  .github/workflows/sonar.yml
  qodana.yaml
Labels: CI

docs: update badge
  README.md
Labels: none

docs: update badge
  README.md
Labels: none

ci: update qodana config
  qodana.yaml
Labels: none

ci: update qodana config
  qodana.yaml
Labels: none

ci: remove unused inspections
  qodana.yaml
Labels: none

ci: remove unused inspections
  qodana.yaml
Labels: none

chore: code cleanup
  COTL_API/CustomFollowerCommand/CustomFollowerCommandPatches.cs
  COTL_API/CustomInventory/Patches/CustomInventoryPatches.cs
  COTL_API/CustomInventory/Patches/CustomItemRefineryPatches.cs
  COTL_API/CustomLocalization/CustomLocalizationPatches.cs
  COTL_API/CustomMission/CustomMissionPatches.cs
  COTL_API/CustomObjectives/CustomObjectivePatches.cs
  COTL_API/CustomRelics/CustomRelicPatches.cs
  COTL_API/CustomRituals/CustomRitualPatches.cs
  COTL_API/CustomSkins/CustomFollowerSkin.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/CustomStructures/CustomStructurePatches.cs
  COTL_API/CustomTarotCard/CustomTarotCardPatches.cs
  COTL_API/Debug/DebugFollowerSkin.cs
  COTL_API/Guid/TypeManager.cs
Labels: API

chore: code cleanup
  COTL_API/CustomFollowerCommand/CustomFollowerCommandPatches.cs
  COTL_API/CustomInventory/Patches/CustomInventoryPatches.cs
  COTL_API/CustomInventory/Patches/CustomItemRefineryPatches.cs
  COTL_API/CustomLocalization/CustomLocalizationPatches.cs
  COTL_API/CustomMission/CustomMissionPatches.cs
  COTL_API/CustomObjectives/CustomObjectivePatches.cs
  COTL_API/CustomRelics/CustomRelicPatches.cs
  COTL_API/CustomRituals/CustomRitualPatches.cs
  COTL_API/CustomSkins/CustomFollowerSkin.cs
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/CustomSkins/CustomSkinPatches.cs
  COTL_API/CustomStructures/CustomStructurePatches.cs
  COTL_API/CustomTarotCard/CustomTarotCardPatches.cs
  COTL_API/Debug/DebugFollowerSkin.cs
  COTL_API/Guid/TypeManager.cs
Labels: API

ci: update inspection list
  qodana.yaml
Labels: none

ci: update inspection list
  qodana.yaml
Labels: none
