Repository xhayper/COTL_API, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI

removed comment
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: none

removed comment
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: none

feat: failsafe
  COTL_API/Plugin.cs
Labels: none

feat: failsafe
  COTL_API/Plugin.cs
Labels: none

chore: code cleanup
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: none

chore: code cleanup
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: none

chore: more cleanup
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: none

chore: more cleanup
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
Labels: none

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: add some fail safe
  COTL_API/CustomSkins/SkinUtils.cs
Labels: none

feat: add some fail safe
  COTL_API/CustomSkins/SkinUtils.cs
Labels: none

feat: update warning name
  COTL_API/CustomSkins/SkinUtils.cs
Labels: none

feat: update warning name
  COTL_API/CustomSkins/SkinUtils.cs
Labels: none

fix: skin index (thanks! BobBobs!)
  COTL_API/COTL_API.csproj
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

fix: skin index (thanks! BobBobs!)
  COTL_API/COTL_API.csproj
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

chore: no-sonar
  COTL_API/Debug/DebugCode.cs
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
  COTL_API/Debug/DebugFollowerSkin.cs
  COTL_API/Debug/DebugGiftFollowerCommand.cs
  COTL_API/Debug/DebugItemClass.cs
  COTL_API/Debug/DebugItemClass2.cs
  COTL_API/Debug/DebugItemClass3.cs
  COTL_API/Debug/DebugItemClass4.cs
  COTL_API/Debug/DebugPlayerSkin.cs
  COTL_API/Debug/DebugStructure.cs
  COTL_API/Debug/DebugStructure2.cs
  COTL_API/Debug/DebugStructure3.cs
  COTL_API/Debug/DebugTarotCard.cs
  COTL_API/Debug/DebugTask.cs
  COTL_API/Debug/DebugTaskFollowerCommand.cs
Labels: none

chore: no-sonar
  COTL_API/Debug/DebugCode.cs
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
  COTL_API/Debug/DebugFollowerSkin.cs
  COTL_API/Debug/DebugGiftFollowerCommand.cs
  COTL_API/Debug/DebugItemClass.cs
  COTL_API/Debug/DebugItemClass2.cs
  COTL_API/Debug/DebugItemClass3.cs
  COTL_API/Debug/DebugItemClass4.cs
  COTL_API/Debug/DebugPlayerSkin.cs
  COTL_API/Debug/DebugStructure.cs
  COTL_API/Debug/DebugStructure2.cs
  COTL_API/Debug/DebugStructure3.cs
  COTL_API/Debug/DebugTarotCard.cs
  COTL_API/Debug/DebugTask.cs
  COTL_API/Debug/DebugTaskFollowerCommand.cs
Labels: none

ci: update clean build command
  .github/workflows/sonar.yml
Labels: CI

ci: update clean build command
  .github/workflows/sonar.yml
Labels: CI

feat: nvm
  COTL_API/Debug/DebugCode.cs
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
  COTL_API/Debug/DebugFollowerSkin.cs
  COTL_API/Debug/DebugGiftFollowerCommand.cs
  COTL_API/Debug/DebugItemClass.cs
  COTL_API/Debug/DebugItemClass2.cs
  COTL_API/Debug/DebugItemClass3.cs
  COTL_API/Debug/DebugItemClass4.cs
  COTL_API/Debug/DebugPlayerSkin.cs
  COTL_API/Debug/DebugStructure.cs
  COTL_API/Debug/DebugStructure2.cs
  COTL_API/Debug/DebugStructure3.cs
  COTL_API/Debug/DebugTarotCard.cs
  COTL_API/Debug/DebugTask.cs
  COTL_API/Debug/DebugTaskFollowerCommand.cs
Labels: none

feat: nvm
  COTL_API/Debug/DebugCode.cs
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
  COTL_API/Debug/DebugFollowerSkin.cs
  COTL_API/Debug/DebugGiftFollowerCommand.cs
  COTL_API/Debug/DebugItemClass.cs
  COTL_API/Debug/DebugItemClass2.cs
  COTL_API/Debug/DebugItemClass3.cs
  COTL_API/Debug/DebugItemClass4.cs
  COTL_API/Debug/DebugPlayerSkin.cs
  COTL_API/Debug/DebugStructure.cs
  COTL_API/Debug/DebugStructure2.cs
  COTL_API/Debug/DebugStructure3.cs
  COTL_API/Debug/DebugTarotCard.cs
  COTL_API/Debug/DebugTask.cs
  COTL_API/Debug/DebugTaskFollowerCommand.cs
Labels: none

feat: dependencies update
  package.json
  pnpm-lock.yaml
Labels: documentation

feat: dependencies update
  package.json
  pnpm-lock.yaml
Labels: documentation

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: documentation

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: documentation

remove: check command
  package.json
Labels: documentation

remove: check command
  package.json
Labels: documentation

ci: update ci
  .github/workflows/build.yml
  package.json
Labels: documentation, CI

ci: update ci
  .github/workflows/build.yml
  package.json
Labels: documentation, CI

revert: sonar
  .github/workflows/sonar.yml
Labels: CI

revert: sonar
  .github/workflows/sonar.yml
Labels: CI

feat: add UnityEngine.Modules to renovate ignore list
  renovate.json
Labels: documentation

feat: add UnityEngine.Modules to renovate ignore list
  renovate.json
Labels: documentation

feat: ignore sonar workflow file
  renovate.json
Labels: documentation

feat: ignore sonar workflow file
  renovate.json
Labels: documentation

feat: update COTL GameLibs
  COTL_API/COTL_API.csproj
Labels: none

feat: update COTL GameLibs
  COTL_API/COTL_API.csproj
Labels: none

.github/labeler.yml:

documentation:
    - "*"
CI:
    - .github/workflows/**/*
    - .github/labeler.yml
