Repository xhayper/COTL_API, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI

.github/labeler.yml:

documentation:
    - "*"
CI:
    - .github/workflows/**/*
    - .github/labeler.yml

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: documentation

chore: dependencies update
  package.json
  pnpm-lock.yaml
Labels: documentation

ci: update ci
  .github/workflows/build.yml
Labels: CI

ci: update ci
  .github/workflows/build.yml
Labels: CI

Create global.json
  global.json
Labels: documentation

Create global.json
  global.json
Labels: documentation

feat: bump version
  COTL_API/COTL_API.csproj
Labels: none

feat: bump version
  COTL_API/COTL_API.csproj
Labels: none

feat: workaround for the project to compile
  COTL_API/CustomRituals/CustomRitualPatches.cs
Labels: none

feat: workaround for the project to compile
  COTL_API/CustomRituals/CustomRitualPatches.cs
Labels: none

feat: disable custom ritual for now
  COTL_API/CustomRituals/CustomRitualPatches.cs
Labels: none

feat: disable custom ritual for now
  COTL_API/CustomRituals/CustomRitualPatches.cs
Labels: none

fix: custom inventory item not appearing in inventory
  COTL_API/CustomInventory/CustomInventoryItem.cs
  COTL_API/CustomInventory/CustomInventoryItemType.cs
  COTL_API/CustomInventory/Patches/CustomInventoryPatches.cs
  COTL_API/Debug/DebugItemClass.cs
  COTL_API/Debug/DebugItemClass2.cs
Labels: none

fix: custom inventory item not appearing in inventory
  COTL_API/CustomInventory/CustomInventoryItem.cs
  COTL_API/CustomInventory/CustomInventoryItemType.cs
  COTL_API/CustomInventory/Patches/CustomInventoryPatches.cs
  COTL_API/Debug/DebugItemClass.cs
  COTL_API/Debug/DebugItemClass2.cs
Labels: none

feat: temp workaround for skin not loading
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/CustomSkins/SkinPatches.cs
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
  COTL_API/Plugin.cs
Labels: none

feat: temp workaround for skin not loading
  COTL_API/CustomSkins/CustomSkinManager.cs
  COTL_API/CustomSkins/SkinPatches.cs
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
  COTL_API/Plugin.cs
Labels: none

remove: unused method
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

remove: unused method
  COTL_API/CustomSkins/CustomSkinManager.cs
Labels: none

feat: add new field
  src/content/docs/items.md
Labels: none

feat: add new field
  src/content/docs/items.md
Labels: none

feat: update dependencies and pull changes from upstream
  package.json
  src/components/LeftSidebar/LeftSidebar.astro
Labels: documentation

feat: update dependencies and pull changes from upstream
  package.json
  src/components/LeftSidebar/LeftSidebar.astro
Labels: documentation

feat: update lockfile
  pnpm-lock.yaml
Labels: documentation

feat: update lockfile
  pnpm-lock.yaml
Labels: documentation

feat: update ignore step
  ignore-step.sh
Labels: documentation

feat: update ignore step
  ignore-step.sh
Labels: documentation

remove: unused debug print
  COTL_API/CustomSkins/SkinPatches.cs
Labels: none

remove: unused debug print
  COTL_API/CustomSkins/SkinPatches.cs
Labels: none

feat: register missing debug stuff
  COTL_API/Debug/DebugStructure.cs
  COTL_API/Debug/DebugStructure2.cs
  COTL_API/Plugin.cs
Labels: none

feat: register missing debug stuff
  COTL_API/Debug/DebugStructure.cs
  COTL_API/Debug/DebugStructure2.cs
  COTL_API/Plugin.cs
Labels: none

fix: ritual icon
  COTL_API/CustomRituals/CustomRitualPatches.cs
Labels: none

fix: ritual icon
  COTL_API/CustomRituals/CustomRitualPatches.cs
Labels: none

fix: commands not closing menu
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
Labels: none

fix: commands not closing menu
  COTL_API/Debug/DebugFollowerCommand.cs
  COTL_API/Debug/DebugFollowerCommand2.cs
  COTL_API/Debug/DebugFollowerCommand3.cs
Labels: none

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: bump version
  COTL_API.Common.props
  thunderstore.toml
Labels: documentation

feat: replace all of `interaction.Close()` to `interaction.Close(true, reshowMenu: false);`
  COTL_API/Debug/DebugGiftFollowerCommand.cs
  COTL_API/Debug/DebugTaskFollowerCommand.cs
Labels: none

feat: replace all of `interaction.Close()` to `interaction.Close(true, reshowMenu: false);`
  COTL_API/Debug/DebugGiftFollowerCommand.cs
  COTL_API/Debug/DebugTaskFollowerCommand.cs
Labels: none

feat: update docs
  src/content/docs/follower-commands.md
Labels: none

feat: update docs
  src/content/docs/follower-commands.md
Labels: none
