Repository xhayper/COTL_API, pull requests merged in 2022-10, with the labels that each got.

#35 Objective fixes
  .gitignore
  COTL_API.Common.props
  COTL_API/CustomInventory/CustomInventoryItem.cs
  COTL_API/CustomObjectives/CustomObjective.cs
  COTL_API/CustomObjectives/CustomObjectiveManager.cs
  COTL_API/CustomObjectives/CustomObjectivePatches.cs
  COTL_API/Debug/DebugObjective.cs
  COTL_API/Debug/DebugObjective2.cs
  COTL_API/Debug/DebugObjective3.cs
  COTL_API/Plugin.cs
  COTL_API/Saves/ModdedSaveManager.cs
Labels: enhancement

#40 Update items.md
  src/pages/items.md
Labels: documentation

#42 CustomQuestData Location Change
  COTL_API.Common.props
  COTL_API/COTL_API.csproj
  COTL_API/COTL_API.csproj.DotSettings
  COTL_API/CustomObjectives/CustomObjectiveManager.cs
  COTL_API/Plugin.cs
  COTL_API/Saves/CustomQuestData.cs
Labels: API

#44 Update skins-fixes to main
  COTL_API.Common.props
  COTL_API/COTL_API.csproj
  COTL_API/CustomInventory/CustomInventoryItem.cs
  COTL_API/CustomInventory/CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/CustomItemDungeonPatches.cs
  COTL_API/CustomInventory/Patches/CustomItemRefineryPatches.cs
  COTL_API/CustomInventory/Patches/CustomItemShrinePatches.cs
  COTL_API/CustomInventory/Patches/CustomItemSpawnPatches.cs
  COTL_API/CustomInventory/Patches/InventoryPatches.cs
  COTL_API/CustomObjectives/CustomObjective.cs
  COTL_API/CustomObjectives/CustomObjectiveManager.cs
  COTL_API/CustomObjectives/CustomObjectivePatches.cs
  COTL_API/CustomObjectives/Patches/CustomObjectivePatches.cs
  COTL_API/CustomStructures/CustomStructureManager.cs
  COTL_API/CustomStructures/StructurePatches.cs
  COTL_API/Guid/GuidManager.cs
  COTL_API/Helpers/BaseClassReversePatches.cs
  COTL_API/Plugin.cs
  COTL_API/Saves/APIData.cs
  COTL_API/Saves/APIDataManager.cs
  COTL_API/Saves/CustomQuestData.cs
  COTL_API/Saves/SavePatches.cs
  thunderstore.toml
Labels: API
